<footer class="footer">
  <div style="background-color: #3f51b5; height: 10px;" >
    <br/>
    </div>

  <div class="container" style="background-color: white !important;">
    <div class="col-md-12" style="background-color: #fff; color: black; margin-bottom: 10px;">


      <div class="col-md-6" style="padding-top: 30px;">
        <img src="../images/lrm_footer.png">
      </div>
      <div class="col-md-2" style="padding-top: 10px">
        <img src="../images/PMPC-logo1-1.jpg">
      </div>
      <div class="col-md-2" style="padding-top: 26px;">
        Tel.: +370 652 84039
        <br/>
        El. paštas:
      </div>
      <div class="col-md-2" style="padding-top: 26px;">
        <a href="mailto:info@inocekiai.lt" target="_top">info@inocekiai.lt</a>
        <br/>
        <a href="mailto:projektai@inocekiai.lt" target="_top">projektai@inocekiai.lt</a>
      </div>

    </div>
  </div>

<div style="background-color: #3f51b5;" >
    <div class="container">
     <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <br/>
        © 2016 inocekiai.lt<a class="back-to-top" href="#">Į viršų</a>
      <div><br/></div>
      </div>
    </div>
  </div>

  </div>
</footer>
