<header>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h3>

      </div>
      <div class="col-sm-9">
        <!--<img class="img-responsive" src="../images/{{site.banner}}" alt="">-->
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div id="ino-top-menu">
            <div class="drop">
              <a class="hover_dropbtn" href="{{ my_page.url | prepend: site.baseurl }}/"><button class="dropbtn hover_dropbtn hover_dropbtn">Pagrindinis</button></a>
            </div>
            <div class="dropdown drop collapse navbar-collapse">
              <button class="dropbtn hover_dropbtn">Tyrimų partneriai</button>
              <div class="dropdown-content drop_menu nav navbar-nav">
                <a href="{{ my_page.url | prepend: site.baseurl }}/kauno-kolegija/">Kauno kolegija</a>
                <a href="{{ my_page.url | prepend: site.baseurl }}/lietuvos-verslo-kolegija/" style="border-top: none">Lietuvos Verslo kolegija</a>
                <a href="{{ my_page.url | prepend: site.baseurl }}/vu-kauno-humanitarinis-fakultetas/" style="border-top: none">VU Kauno humanitarinis fakultetas</a>
              </div>
            </div>
            <div class="drop">
              <a class="hover_dropbtn" href="{{ my_page.url | prepend: site.baseurl }}/kontaktai/"><button class="dropbtn hover_dropbtn">Kontaktai</button></a>
            </div>
            </div>

          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="header-line">
  </div>



</header>
